* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/pagina 2/img/fondodebikini.jpeg");
}

.cotainer {
    width: 100%;
    margin: auto;
}

.nav-main {
    border-bottom: 5px solid yellow;
    background-color: #00cbf9;
    height: 100px;
}

.nav-brand {
    width: 150px;
}

.wallpaper {
    padding-top: 5px;
    padding-left: 350px;
    width: 90%;
}

.secciones {
    display: grid;
    gap: 5px;
    margin: 10px 0px;
}

.secciones img {
    align-items: center;
    width: 100%;
    height: 700px;
    border: 3px solid black;
}

.secciones a {
    padding: 10px 0px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 10px;
}

.links a i {
    padding: 10px;
    font-size: 2rem;
    color: rgb(95, 60, 18);
}

.footer {
    padding-top: 10px;
    border-top: 5px solid rgb(95, 60, 18);
    background: rgb(238, 191, 126);
    color: rgb(95, 60, 18);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.secciones {
    grid-template-columns: repeat(2, 1fr);
}

.secciones-img {
    width: 450px;
    height: 700px;
}